<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Plateo</h1>
            <img src="../../../assets/plateo.png" width="150" height="auto" alt="Plateo">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Make new friends and have the best road trip ever!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <a href="#plateSearch" class="btn btn-primary">Explore</a>
          <a href="#login" class="btn btn-primary">Login/Register</a>
        </div>
    </div>
</div>
