<div class="container">
    <legend>Create Account</legend>

    <form class="form-horizontal col-sm-8">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="user.firstname">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="user.lastname">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="user.password">
        </div>
        <div class="form-group">
            <label>Verify Password</label>
            <input type="password" class="form-control" ng-model="user.verifypassword">
        </div>
        <div class="form-group">
            <label>E-Mail</label>
            <input type="text" class="form-control"  ng-model="user.email">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control"  ng-model="user.username">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-left" ng-click="register()">Register</button>
            <p>{{errorMessage}}</p>
        </div>
    </form>
</div>
